extends page.template.pug

block head
    title Authorize Application

block body
    h2 Authorize
    form#usernameForm(method='POST', action=action)
        label(for='username') Username:
        input#username(type='text', name='username')
        include _authorize/hidden_form_elements
block foot
    hr
    p footer hello world
