extends page.template.pug

block head
    title Authorize Application

block body
    h2 Authorize User: !{username}

    h3 Choose method of authentication
    hr
    h3 - Username/Password with MFA
    include _authorize/username_password_mfa
    hr
    h3 - Keybase Proof
    include _authorize/keybase_proof
    hr
    h3 - One Time Sign-In Link
    include _authorize/one_time_signin
