extends page.template.pug

block head
    title Authorize Application

block body
    h2 Authorize User: !{username}
    include _authorize/username_password_mfa
    br
    include _authorize/keybase_proof

block foot
    hr
    p footer hello world
