extends page.template.pug

block head
    title Register

block body
    h2 Register
    form#register(method='POST' action='/register')
        label(for='username') Email Address:
        input#username(type='text', placeholder='example@example.com', name='username')
        label(for='password') Password:
        input#password(type='password', name='password')
        label(for='password_repeat') Password (Again):
        input#password_repeat(type='password', name='password_repeat')
        label(for='mfa') Enable MFA?:
        input#mfa(type='checkbox', name='mfa')
        button#submit(type='submit') Submit
    if message
        div #{message}
    if qrcode
        p This is your MFA QRcode... capture this now (you cannot get this again)
        div.qrcode
            img(src=qrcode)

block foot
    hr
    p footer hello world