form#authorize_username_password_mfa(method='POST' action=action)
    label(for='password') Password:
    input#password(type='password', name='password')
    label(for='mfa') MFA (if enabled):
    input#mfa(type='text', name='mfa')
    button#submit_username_password_mfa(type='submit') Submit
    input(type='hidden', name='authType', value=usernamePasswordMFAAuthType)
    include hidden_form_elements
